In [ ]:
TASK:
Factorial of a number using reduce function in python

In [2]:
from functools import reduce

def fact(num):
  if num == 0 or num == 1:
    return 1
  else:
    return reduce(lambda x,y: x*y, range(1,num+1))

fact(5)

120

randomly arrange a bunch of students into groups of 5

In [3]:
import random

students = [f"Student{i}" for i in range(1, 41)]

random.shuffle(students)

group_size = 8
num_groups = 5

for i in range(num_groups):
    group = students[i * group_size:(i + 1) * group_size]
    print(f"Group {i+1}: {group}")

Group 1: ['Student24', 'Student2', 'Student13', 'Student27', 'Student19', 'Student34', 'Student7', 'Student23']
Group 2: ['Student3', 'Student17', 'Student40', 'Student9', 'Student22', 'Student26', 'Student35', 'Student14']
Group 3: ['Student31', 'Student38', 'Student18', 'Student8', 'Student28', 'Student29', 'Student21', 'Student25']
Group 4: ['Student37', 'Student10', 'Student6', 'Student39', 'Student32', 'Student36', 'Student12', 'Student4']
Group 5: ['Student30', 'Student11', 'Student5', 'Student15', 'Student33', 'Student20', 'Student1', 'Student16']