# Module 3: Data Structures Assignments

Assignment 1: Creating and Accessing Lists
Create a list of the first 20 positive integers. Print the list.

In [ ]:
l=[]
for i in range(1,21):
  l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Assignment 2: Accessing List Elements
Print the first, middle, and last elements of the list created in Assignment 1.

In [ ]:
print(l[0])
print(l[-1])
print(l[len(l)//2])

1
20
11

Assignment 3: List Slicing
Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [ ]:
print(l[0:5])
print(l[4:15])

[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

Assignment 4: List Comprehensions
Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [ ]:
s=[i*i for i in range(1,11)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Assignment 5: Filtering Lists
Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [ ]:
for i in range(len(l)):
  if(l[i]%2==0):
    print(l[i])

2
4
6
8
10
12
14
16
18
20

Assignment 6: List Methods
Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [6]:
l=[3,4,1,2,5,5]
l.sort()
print(l)
l.sort(reverse=True)
print(l)
print(list(set(l)))

[1, 2, 3, 4, 5, 5]
[5, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

Assignment 7: Nested Lists
Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [7]:
m = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]

print(m)
for row in m:
    print(row)

p= m[1][2]
print(p)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
6

Assignment 8: List of Dictionaries
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [8]:
students = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 92}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted list by score (descending):")
for student in sorted_students:
    print(student)

Sorted list by score (descending):
{'name': 'Bob', 'score': 92}
{'name': 'Alice', 'score': 85}

Assignment 9: Matrix Transposition
Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [9]:
def transpose_matrix(matrix):
    return [[matrix[j][i] for j in range(3)] for i in range(3)]
matrix = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print("Original matrix:")
for row in matrix:
    print(row)
transposed = transpose_matrix(matrix)
print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

Assignment 10: Flattening a Nested List
Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [11]:
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]
n = [[1, 2], [3, 4], [5, 6]]
print(n)
f = flatten_list(n)
print(f)

[[1, 2], [3, 4], [5, 6]]
[1, 2, 3, 4, 5, 6]

Assignment 11: List Manipulation
Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [13]:
l = list(range(1, 11))

del l[6]
del l[4]
del l[2]
l.insert(5, 99)
print(l)

[1, 2, 4, 6, 8, 99, 9, 10]

Assignment 12: List Zipping
Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result

In [33]:
list1 = ['apple', 'banana', 'cherry']
list2 = [10, 20, 30]
zipped_list = list(zip(list1, list2))
print("Zipped list:", zipped_list)

Zipped list: [('apple', 10), ('banana', 20), ('cherry', 30)]

Assignment 13: List Reversal
Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [27]:
def reverse_list(lst):
    return lst[::-1]
original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print("Original list:", original_list)
print("Reversed list:", reversed_list)

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

Assignment 14: List Rotation
Write a function that rotates a list by n positions. Print the original and rotated lists.

In [28]:
def rotate_list(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]
original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

Assignment 15: List Intersection
Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [29]:
def intersect_lists(list1, list2):
    return [item for item in list1 if item in list2]

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

intersection = intersect_lists(list1, list2)
print("Intersected list:", intersection)

Intersected list: [4, 5]